@charset "UTF-8";

/* 메인 미디어쿼리 */

/* 1080px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1200px) {
  
  /* 타이틀 공통 변경 */
  .tit {
    width: 100%;
    height: 20vh;
    line-height: 20vh;
    translate: 0 104px;
  }
  /* Product 파트 */
  .product-part .icon-box {
    left: 50%;
    translate: -50% 0;
    right: auto;
    width: 20vw;
  }
  .product-part .icon-box ul {
    width: 100%;
    height: 100%;
  }

  .btn-grp {
    translate: 0 0;
  }

 
}
/* 1200px 이하 미디어쿼리 종료 */

/* 1080px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1080px) {
}
/* 1080px 이하 미디어쿼리 종료 */

/* 1080px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1080px) {
}
/* 1080px 이하 미디어쿼리 종료 */
