@charset "utf-8";
/* ERUSAM 메인 페이지 CSS - main.css */

/* 외부 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);
/* 12그리드 CSS */
@import url(./grid_12_flex.css);
/* 공통 CSS */
@import url(./common.css);

/* 공사중 표시 */
/* body * {
    outline: 2px dashed #ccc;
} */

/***************** 메인 CSS *****************/

/***************** 2. 메인영역 *****************/
.pg {
  height: 400px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
                    url('../images/banner/aboutus.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}